.Button.primary {
  --color: white;
  color: var(--color);
  background-color: var(--btn-primary-background);
  filter: brightness(1);
  transition: filter 0.2s;
}

.Button.primary:hover {
  filter: brightness(1.2);
}
