/* VARIANT */
@import "./css/button_primary.css";
@import "./css/button_secondary.css";

/* SIZE */
@import "./css/button_small.css";

:root {
  --btn-primary-background: #466df9;
  --btn-secondary-background: rgba(86, 86, 86, 0.073);
  --color: rgb(33, 33, 33);
  --rounded: 0.4rem;
  --size: 16px;
  --size-small: 14px;
  --padding-button: 10px 15px;
}

.Button {
  all: unset;
  box-sizing: border-box;
  display: inline-block;
  align-items: center;
  justify-content: center;
  border-radius: var(--rounded);
  padding: var(--padding-button);
  font-size: var(--size);
  line-height: 1;
  font-weight: 500;
  /* height: 35px; */
  width: max-content;
  background-color: var(--btn-primary-background);
  cursor: pointer;
}
