.Root {
  width: 260px;
}

.Field {
  display: grid;
  margin-bottom: 10px;
}

.Label {
  font-size: 15px;
  font-weight: 500;
  line-height: 35px;
  color: black;
}

.Message {
  font-size: 13px;
  color: black;
  opacity: 0.8;
}

.Input,
.Textarea {
  all: unset;
  box-sizing: border-box;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 15px;
  color: black;
  background-color: rgba(222, 222, 222, 0.155);
  box-shadow: 0 0 0 1px rgba(128, 128, 128, 0.237);
  &:hover {
    box-shadow: 0 0 0 1px black;
  }
  &:focus {
    box-shadow: 0 0 0 2px black;
  }
  &::selection {
    background-color: var(--black-a6);
    color: black;
  }
}

.Input {
  padding: 0 10px;
  height: 35px;
  line-height: 1;
}

.Textarea {
  resize: none;
  padding: 10px;
}
